<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav id="main-nav">
    <ul>
      <li id="home-logo"><a href="/"><strong>SWJ</strong></a></li>
    </ul>
    <ul>
      <li><a href="https://github.com/boandri/Web_Scrapper_Python"><img id="git-logo" src="../static/img/git_blk-crop.png"></a></li>
    </ul>
  </nav>
  <main class="container">
    <hgroup>
      <h1>Search Results for "{{keyword}}"</h1>
      <br>
      <hr>
      <br>
      <div>
        <a target="_blank" href="/export?keyword={{keyword}}" role="button">Export to file</a>
        <a href="/" role="button" class="secondary">Back to home</a>
      </div>
      <br>
    </hgroup>
    <figure>
      <table role="grid">
        <thead>
          <tr>
            <th>Position</th>
            <th>Company</th>
            <th>Location</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{job.position}}</td>
            <td>{{job.company}}</td>
            <td>{{job.location}}</td>
            <td><a href="{{job.link}}" target="_blank">Apply now</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </figure>    
  </main>
</body>
</html>